@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap");
.extra-section {
  width: 100%;
  height: calc(100vh - 25px - 0px);
  background-color: #323232;
  position: relative;
  z-index: 2;
}

.extra-section .btn {
  z-index: 1;
  width: 150px;
  height: 3vh;
  position: absolute;
  right: calc(50vw - (150px / 2));
  background-color: #232323;
  transition: width 0.3s ease, right 0.3s ease;
}

.extra-section .btn:hover {
  width: calc(150px + 30px);
  right: calc(50vw - ((150px + 30px) / 2));
}

.extra-section .extra-section-btn {
  top: -3vh;
  background-image: url("./../assets/svgs/arrow_drop_down-white-18dp.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.extra-section .back-btn {
  bottom: 0;
  background-image: url("./../assets/svgs/arrow_drop_up-white-18dp.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.extra-section .extra-section-header {
  width: 100%;
  height: 50px;
  background-color: #232323;
  display: flex;
  justify-content: left;
  align-items: flex-end;
}

.extra-section .extra-section-header .section-btn {
  padding: 0 10px;
  height: 60%;
  background-color: #323232;
  margin: 0 1px;
  transition: height 0.2s ease;
  display: inline-table;
}

.extra-section .extra-section-header .section-btn h4 {
  display: table-cell;
  vertical-align: middle;
}

.extra-section .extra-section-header .deleted-section-btn {
  justify-self: flex-start !important;
}

.extra-section .extra-section-main {
  width: 400vw;
  height: calc(100vh - 25px - 0px - 50px);
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.extra-section .extra-section-main .subsection {
  width: 100vw;
  height: 100%;
}

.extra-section .extra-section-main .subsection header {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: left;
}

.extra-section .extra-section-main .subsection header h1 {
  font-size: 1.4em;
  font-family: "Josefin Sans", serif;
  font-weight: 100;
  color: whitesmoke;
}

.extra-section .extra-section-main .subsection header .header-btn {
  width: 25px;
  height: 25px;
  margin-left: 20px;
  transition: background-color 0.2s ease;
  border-radius: 2px;
  cursor: pointer;
}

.extra-section .extra-section-main .subsection header .header-btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.trash-can {
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  padding: 20px;
}

.trash-can header {
  width: 100%;
}

.trash-can header .scroll-subsection-btn[data-scroll-direction="+"] {
  background-image: url("./../assets/svgs/arrow_left-white-18dp.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 140%;
}

.trash-can header .scroll-subsection-btn[data-scroll-direction="-"] {
  background-image: url("./../assets/svgs/arrow_right-white-18dp.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 140%;
}

.trash-can main {
  position: relative;
  width: 300%;
  height: calc(100% - 60px);
  display: flex;
  left: 0;
}

.trash-can main .trash-can-subsection {
  flex: 1;
  height: 100%;
  padding: 20px;
}

.trash-can main .trash-can-subsection header h1 {
  font-size: 1.2em;
}
