@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap");
.task-canvas {
  grid-area: taskcanvas;
  position: relative;
  top: 200px;
  opacity: 0;
  background-color: rgba(40, 40, 40, 0.4);
}

.task-canvas .unfinished-tasks {
  height: calc(100% - 60px);
  top: 0;
  border-radius: 0px;
}

.task-canvas .finished-tasks {
  background-color: rgba(255, 255, 255, 0.1);
  height: 60px;
  bottom: 0px;
  border-radius: 0px;
}

.task-canvas .finished-tasks .section-main {
  opacity: 0;
}

.task-canvas .tasks-section {
  width: 100%;
  position: absolute;
  transition: height 0.5s ease;
}

.task-canvas .tasks-section .section-header {
  cursor: pointer;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: left;
}

.task-canvas .tasks-section .section-header h1 {
  font-size: 1.4em;
  font-family: "Josefin Sans", serif;
  font-weight: 100;
  color: whitesmoke;
}

.task-canvas .tasks-section .section-header .header-btn {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  transition: background-color 0.2s ease;
  border-radius: 2px;
  cursor: pointer;
}

.task-canvas .tasks-section .section-header .header-btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.task-canvas .tasks-section .section-header .remove-all-tasks {
  background-image: url("./../assets/svgs/delete-btn.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.task-canvas .tasks-section .section-main {
  width: auto;
  height: calc(100% - 60px);
  transition: opacity 0.25s ease;
  padding: 20px;
  overflow-y: hidden;
}

.task-canvas .tasks-section .section-main .tasks-container {
  width: 100%;
  height: auto;
  list-style: none;
}

.task-canvas .tasks-section .section-main .tasks-container .task {
  position: relative;
  margin: 20px;
  background-color: whitesmoke;
  transition: opacity 0.2s ease;
}

.task-canvas .tasks-section .section-main .tasks-container .task .task-content-wrapper {
  width: 95%;
  background-color: #323232;
}

.task-canvas .tasks-section .section-main .tasks-container .task .task-content-wrapper [contenteditable="true"] {
  cursor: text;
}

.task-canvas .tasks-section .section-main .tasks-container .task .task-content-wrapper [contenteditable="true"] *::selection {
  background-color: #646464;
}

.task-canvas .tasks-section .section-main .tasks-container .task .task-content-wrapper [contenteditable="true"]::selection {
  background-color: #646464;
}

.task-canvas .tasks-section .section-main .tasks-container .task .task-content-wrapper [contenteditable="true"]:empty::before {
  content: attr(placeholder);
  pointer-events: none;
  display: block;
  color: rgba(200, 200, 200, 0.5);
}

.task-canvas .tasks-section .section-main .tasks-container .task .task-content-wrapper .task-header {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  cursor: grab;
}

.task-canvas .tasks-section .section-main .tasks-container .task .task-content-wrapper .task-header section {
  height: 100%;
}

.task-canvas .tasks-section .section-main .tasks-container .task .task-content-wrapper .task-header .heading {
  flex: 2;
  width: 60%;
  padding: 10px;
  cursor: pointer;
}

.task-canvas .tasks-section .section-main .tasks-container .task .task-content-wrapper .task-header .heading article {
  width: 100%;
  overflow-x: hidden;
}

.task-canvas .tasks-section .section-main .tasks-container .task .task-content-wrapper .task-header .heading article::-webkit-scrollbar {
  display: none;
}

.task-canvas .tasks-section .section-main .tasks-container .task .task-content-wrapper .task-header .heading article .start-time-text, .task-canvas .tasks-section .section-main .tasks-container .task .task-content-wrapper .task-header .heading article .end-time-text {
  display: inline-block;
  word-wrap: break-word;
}

.task-canvas .tasks-section .section-main .tasks-container .task .task-content-wrapper .task-header .tools {
  flex: 1;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.task-canvas .tasks-section .section-main .tasks-container .task .task-content-wrapper .task-header .tools .tool {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: transparent;
  transition: opacity 0.2s ease;
  opacity: 0.5;
}

.task-canvas .tasks-section .section-main .tasks-container .task .task-content-wrapper .task-header .tools .tool:hover {
  opacity: 1;
}

.task-canvas .tasks-section .section-main .tasks-container .task .task-content-wrapper .task-header .tools .complete-btn {
  background-image: url("./../assets/svgs/complete-btn.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.task-canvas .tasks-section .section-main .tasks-container .task .task-content-wrapper .task-header .tools .delete-btn {
  display: none;
}

.task-canvas .tasks-section .section-main .tasks-container .task .task-content-wrapper .task-description {
  height: auto;
  overflow-y: hidden;
  font-size: 0.9em;
  padding: 10px 20px;
}

.task-canvas .tasks-section .section-main .tasks-container .task .task-content-wrapper .task-description .task-description-text {
  width: 100%;
  height: 100%;
  resize: vertical;
  background-color: #323232;
  border: none;
  white-space: pre-line;
}
